ol {
  font-family: Helvetica, Arial;
  background-color: grey;
  width: 30%;
  margin: 0%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: greenyellow;
  width: 30%;
  margin: 0%;
}